/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: "IBM Plex mono", monospace;
  font-size: var(--primary-font-size);
}

.header {
  position: relative;
  min-height: max(668px, 100vh);
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: 10px;
}

.header__rec {
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 20px;
  color: var(--accent-color);
}

.header__rec::after {
  content: "";
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  margin-inline-start: 10px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu {
  padding-top: 62px;
  justify-self: end;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  background-color: transparent;
  color: var(--accent-color);
  text-transform: lowercase;
  padding-left: 13px;
  padding-right: 13px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color-transparent);
}

.header__theme-menu-button:focus {
  border-block-end-color: var(--accent-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__title {
  font-weight: 700;
  color: var(--header-color);
  font-size: var(--header-title-size);
  text-shadow: 4px 4px var(--accent-color);
  align-self: center;
  line-height: 83%;
}

.header__description {
  margin-top: 55px;
  max-inline-size: 355px;
  font-weight: 700;
  justify-self: end;
  align-self: start;
  line-height: 130%;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--title-decor-text-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  inset-block-start: 10px;
  inset-inline-end: 10px;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
}

.decorated-zone::after {
  inset-block-end: 10px;
  inset-inline-start: 10px;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
}

/*Основные секции*/

.content {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 50px;
  padding: 40px 10px;
}

.section {
  display: grid;
  gap: 20px;
}

.section__title {
  font-size: var(--primary-font-size);
  color: var(--section-title-color);
  font-weight: 700;
}

.card {
  display: grid;
  gap: 10px;
}

.card__title {
  font-size: var(--primary-font-size);
  font-weight: 700;
}

.card__text {
  line-height: 23.47px;
  color: var(--card-font-color);
}

.card__text a {
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-color);
}

.card__title_regular {
  font-weight: 400;
}

.gallery__title {
  font-size: var(--primary-font-size);
  font-weight: 700;
}

/*Галлерея*/

.gallery {
  gap: 10px;
}

.gallery__image {
  inline-size: 100%;
  display: block;
  object-fit: cover;
}

/*Футер*/

.footer {
  min-height: max(668px, 100vh);
  display: grid;
  place-items: center;
  padding: 10px;
}

.footer__title {
  color: var(--header-color);
  font-size: var(--header-title-size);
  font-weight: 700;
  line-height: 83%;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  :root {
    --header-title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header,
  .footer {
    padding: 20px;
  }

  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decorated-zone::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }

  .header__rec {
    inset-block-start: 20px;
    inset-inline-end: 30px;
  }

  .content {
    padding: 60px 20px;
    gap: 80px;
  }

  .section {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .section__title {
    grid-column: 1;
  }

  .card,
  .section > .card__title,
  .section > .card__title + .card {
    grid-column: 2;
  }

    .section {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .section__title {
    grid-column: 1;
  }

  .card,
  .section > .card__title,
  .section > .card__title + .card {
    grid-column: 2;
  }
}
