/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --background-color: #000028;
  --background-image: url("../images/cover-image-dark.png");
  --accent-color: #ff0070;
  --accent-color-transparent: rgba(255, 0, 112, 0.4);
  --decor-color: #ff0070;
  --primary-font-size: 18px;
  --title-decor-text-color: #000028;
  --header-color: #db00ff;
  --card-font-color: #f1b2ce;
  --section-title-color: #ff0070;
}
